body{
  font-family: 'Dosis', sans-serif;
  padding: 0;
  margin: 0;
  background-size: cover;
  height: 100%;
}
@media screen and (max-width: 772px){
  body{
    background:#000 url(../static/mobile.gif)no-repeat fixed center center;
    background-size: cover;
    height: 100%;
  }
}
@media screen and (min-width: 773px){
  body{
    background:#000 url(../static/desktop.gif)no-repeat fixed center center;
  }
}
.fa{
  color: #fff;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 32px;
}
.navbar{
  text-align: center;
}
.navbar .github,
.navbar .vk,
.navbar .steam,
.navbar .blog,
.navbar .exemples{
  display: inline-grid;
  margin: 15px;
}
.fa:hover{
  color: #FFB050;
}
.content{
  margin-top: 30px;
  flex: 1 0 auto;
}
.content h2{
  text-align: center;
  color: #FFB050;
  text-shadow: 1px 1px 1px #ccc;
}
.content p{
  margin-top: 30px;
  text-align: center;
  color: #fff;
  font-weight: 200;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 16px;
}
@media screen and (min-width:1440px){
  .content p{
    margin-left: 350px;
    margin-right: 350px;
  }
}
