body{
  font-family: 'Dosis', sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
}
@media screen and (max-width: 772px){
  body{
    background:url(../static/mobile.gif)no-repeat fixed center center;
    background-size: cover;
  }
}
@media screen and (min-width: 773px){
  body{
    background:url(../static/desktop.gif)no-repeat fixed center center;
  }
}
.fa{
  color: #fff;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 32px;
}
.navbar{
  text-align: center;
}
.navbar .github,
.navbar .vk,
.navbar .steam,
.navbar .blog,
.navbar .exemples{
  display: inline-grid;
  margin: 15px;
}
.fa:hover{
  color: #FFB050;
}
.content{
  margin-top: 30px;
  flex: 1 0 auto;
}
.content h2{
  text-align: center;
  color: #FFB050;
  text-shadow: 1px 1px 1px #ccc;
}
.content p{
  margin-top: 30px;
  text-align: center;
  color: #fff;
  font-weight: 200;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 16px;
}
@media screen and (min-width:1000px){
  .content p{
    margin-left: 25vh;
    margin-right: 25vh;
  }
}
/**.wrapper{
  background: rgba(0, 0, 0, 0.5);
  top:0;
  left:0;
  z-index:1;
  position: absolute;
}**/
