---
layout: home
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  <title>Welcome</title>
</head>
<body>
  {% include navbar.html %}
  <!--header-->
  <div class="container-fluid fill">
    <div id="carousel" class="carousel slide">
      <ol class="carousel-indicators" id="indicator">
        <li class="active" data-target="#carousel" data-slide-to="0"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" id="header">
        <div class="item active">
          <div class="fill">
            <img src="static/kazan.jpg" alt="">
            <div class="carousel-caption">
              <p>Казанский кремль</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="fill">
            <img src="static/novgorod.jpg" alt="">
            <div class="carousel-caption">
              <p>Нижегородский кремль</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="fill">
            <img src="static/cheboksary.jpg" alt="">
            <div class="carousel-caption">
              <p>Чебоксарский залив</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="fill">
            <img src="static/uylanovsk.jpg" alt="">
            <div class="carousel-caption">
              <p>Президентский мост</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--header end-->

  <!--city-->
  <div class="container-fluid" style="padding-top:25px;">
    <div class="row">
      <ul class="nav nav-tabs" id="city">
        <li  class="active"><a href="#tab1"
        data-toggle="tab">Казань</a></li>
        <li><a href="#tab2"
        data-toggle="tab">Нижний Новгород</a></li>
        <li><a href="#tab3"
        data-toggle="tab">Чебоксары</a></li>
        <li><a href="#tab4"
        data-toggle="tab">Ульяновск</a></li>
      </ul>
      <div class="tab-content" style="padding-top:25px;">
        <div class="tab-pane active" id="tab1">
           {% include kazan.html %}
        </div>
        <div class="tab-pane" id="tab2">
           {% include novgorod.html %}
        </div>
        <div class="tab-pane" id="tab3">
          {% include cheboksary.html %}
        </div>
        <div class="tab-pane" id="tab4">
          {% include ulyanovsk.html %}
        </div>
      </div>
    </div>
  </div>
  <!--city end-->

  <script src="js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>
