---
permalink: /news
pagination:
enabled: true
---
<!DOCTYPE html>
<html lang="ru">
<head>
  {% include head.html %}
  <title>News</title>
</head>
<body>
  {% include navbar.html %}
  <div class="back" id="navfor">
    <div class="container">
      <br><br>
      <h1 style="padding-top:150px;">Новости Поволжья</h1>
    </div>
  </div>
  <!--all posts-->
  <ul class="list-group">
  {% for post in site.posts %}
    <li class="list-group-item" style="text-align:center;">
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <p>{{ post.description }}</p>
    </li>
  {% endfor %}
</ul>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/script.js"></script>
</body>
</html>
