<p>Дату рождения города по традиции принято определять по его первому упоминанию в письменных источниках.
Русские летописи упоминают о Чебоксарах как о хорошо известном поселении на волжском пути в связи с походом
воеводы Ивана Дмитриевича Руна на Казань в мае 1469 года: «…ночевали на Чебоксарке, а от Чебоксаря шли
весь день, да и ночь всю шли, а приидоша под Казань на ранней зоре…». По утверждению исследователя
Поспелова Е. М., в письменных источниках с 1469 года наименование города упоминается в форме единственного
числа — Чебоксар).Город Чебоксары имеет город-спутник Новочебоксарск, вместе с которым формирует
полицентрическую агломерацию с численностью населения более 680 тыс. чел. 2 марта 2008 года был проведён
референдум по объединению городов Чебоксары и Новочебоксарск в один городской округ, но большинство
новочебоксарцев проголосовало против объединения, в результате вопрос был отложен.</p>
<br><br>
<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-12 col-md-6">
          <img class="img-responsive pull-left
          img-circle caption" src="../static/cheboksary/sputnik.jpg">
        </div>
        <div class="col-xs-12 col-md-6">
          <h4>Город Чебоксары расположен на Приволжской возвышенности на правом берегу Чебоксарского
          водохранилища реки Волги. Общая протяжённость границ города составляет 83,3 км, из них по
          суходольной части — 67,0 км, по набережной Волги — 16,3 км. Площадь города, вместе с заволжской
          частью, составляет — 233 км². Земли водного фонда составляют 15,7 % площади муниципального
          образования, а земли лесного фонда составляют 24,8 % от общей площади города. Левый берег долины реки
          Волги пойменный, в период весеннего паводка — затопляемый. Правый берег — высокий, крутой,
          незатопляемый.Холмистость рельефа предопределила строительство мостов, обеспечивающих
          транспортную связь между различными районами города. В настоящее время в городе 5 основных мостов.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row description">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-12 col-md-6">
          <h4>Экономика города характеризуется, прежде всего, развитой промышленностью. Ведущие отрасли:
          электро-энерго оборудование, машиностроение и пищевая промышленность.Объём отгруженных товаров
          собственного производства, выполненных работ и услуг по чистым видам экономической деятельности
          по обрабатывающим производствам (крупным и средним организациям) на 2010 : 44,53 миллиарда
          рублей, в том числе:<ul>
            <li>производство электрооборудования, электронного и оптического оборудования 15,09</li>
            <li>производство машин, оборудования и транспортных средств 9,23</li>
            <li>производство пищевых продуктов, включая напитки, и табака 8,53</li>
            <li>металлургическое производство и производство готовых металлических изделий 4,03
            миллиард рублей.</li></ul></h4>
        </div>
        <div class="col-xs-12 col-md-6">
          <img class="img-responsive pull-right
          img-circle caption" src="../static/cheboksary/T33.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-12 col-md-6">
          <img class="img-responsive pull-left
          img-circle caption" src="../static/cheboksary/fire.jpg">
        </div>
        <div class="col-xs-12 col-md-6">
          <h4>Экономико-географическое положение города характеризуется наличием автомагистралей «Нижний
          Новгород — Чебоксары — Ульяновск», а через плотину Чебоксарской ГЭС — на Казань и Йошкар-Олу.
          Через Чебоксары проходят две федеральные автомагистрали: М7 Волга и Р176 Вятка. Расстояние от
          Чебоксар до административных центров (столиц) соседних регионов городов: Йошкар-Ола — 100 км;
          Казань — 158 км; Нижний Новгород — 240 км; Ульяновск — 246 км. Расстояние до Москвы — 650 км.
          До железнодорожного центра Чувашии — Канаша — 80 км. В пределах Чувашии Чебоксары имеют прочную
          связь со всеми административными районами республики благодаря развитой автодорожной сети.
          Практически 85 % грузооборота и пассажирооборота приходится на автомобильный транспорт.
          Между Чебоксарами и Москвой действует регулярное железнодорожное сообщение. От Казанского
          вокзала Москвы до Чебоксар ходит фирменный поезд «Чувашия». Также регулярно ходят поезда до
          Санкт-Петербурга, а в летнее время — до Адлера и Новороссийска.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
