<div class="container">
  <div class="row">
    <div class="navbar navbar-custom" style="font-family: 'Baloo Bhaina', cursive;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle"
        data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="../static/logo.png" alt="logo"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav centered">

      </ul>
    </div>
  </div>
</div>
