<nav class="navbar navbar-custom navbar-transparent">
  <div class="container">
    <div class="navbar-header" style="font-family: 'Indie Flower', cursive;">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Volga Magazine</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>Карта</li>
        <li>Новости</li>
        <li>О нас</li>
      </ul>
    </div>
  </div>
</nav>
