<p>Нижний Новгород — город в центральной России, административный центр Приволжского федерального округа и Нижегородской
области. Основан в 1221 году владимирским князем Юрием Всеволодовичем.Расположен в центре
Восточно-Европейской равнины на месте слияния Оки и Волги. Ока делит город на две части: нагорную —
верхнюю, на Дятловых горах, и заречную — нижнюю, на её левом низинном берегу. Волга разделяет Нижний
Новгород и Борский округ.В 1500—1518 годах был построен каменный кремль, который не был взят ни разу за
всю историю. Под его стенами в 1612 году земский староста Кузьма Минин собрал средства и вместе с князем
Пожарским организовал народное ополчение для освобождения Москвы от поляков. С 1817 года, с переводом в
город Макарьевской ярмарки, располагавшейся ранее близ Желтоводского Макариева монастыря, он становится
одним из крупнейших торговых центров России. В 1896 году в городе прошла Всероссийская художественно-
промышленная выставка, давшая развитие российскому трамваю. Во время индустриализации 1930-х годов в нём
были построены крупные машиностроительные предприятия, в том числе крупнейший автогигант — Горьковский
автомобильный завод. Во время Великой Отечественной войны 1941—1945 годов город был крупнейшим
поставщиком военной техники, в силу чего подвергался бомбардировкам, мощнейшим во всём Среднем
Поволжье. После войны город был награждён орденом Ленина. 20 ноября 1985 года в городе был запущен
первый участок метрополитена. Хронологически это третий метрополитен в России и десятый в СССР.</p>
<br><br>
<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-12 col-md-6">
          <img class="img-responsive pull-left
          img-circle caption" src="../static/novgorod/sky_view.jpg">
        </div>
        <div class="col-xs-12 col-md-6">
          <h4>Нижний Новгород расположен при слиянии двух крупнейших водных путей Европейской части России
          — рек Волги и Оки. Город разделяется Окой на две части: восточную возвышенную Нагорную,
          расположенную по правым берегам Оки и Волги на северо-западной оконечности Приволжской
          возвышенности — Дятловых горах, и западную (по левому берегу Оки и правому берегу Волги)
          низинную, заречную.Площадь города — 466,5 км². Протяжённость города вдоль Оки 20 км, вдоль Волги
          — около 30 км. На территории города находится 33 озера и 12 рек. Самое большое озеро города —
          Мещерское, находится в Канавинском районе, площадь его водной поверхности — 13,6 га.Высота
          нагорной части от 100 до 200 м над уровнем моря. Левый берег имеет высоты 70—80 м над уровнем
          моря. Исторический центр города находится в нагорной части.Нижний Новгород расположен в 400
          км к востоку от Москвы, между обоими городами сложился транспортный коридор.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row description">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-12 col-md-6">
          <h4>Нижний Новгород, как крупный промышленный центр, характеризуется высоким уровнем загрязнения
          атмосферного воздуха, связанным с выбросами от автомобильного транспорта(83 %) и объектов
          промышленности.Со всех сторон город окружён промышленными центрами с большими объёмами выбросов
          загрязняющих веществ.В 2005 году наибольшие уровни загрязнения воздуха фиксировались в Ленинском,
           Советском и Московском районах. В 2008 году отдельных районах концентрации составляли до 4 ПДК.
           В Зелёном городе средние за 2005 год показатели оставались ниже ПДК.По качеству атмосферного
           воздуха наиболее проблемным является Московский район, от жителей которого поступает больше
           всего жалоб на появление неприятного запаха в районе масложиркомбината, при этом при
           проведении анализа проб воздуха превышение ПДК не фиксируется. Воды Оки в районе
           Дзержинска являются одними из самых загрязнённых среди рек в России.</h4>
        </div>
        <div class="col-xs-12 col-md-6">
          <img class="img-responsive pull-right
          img-circle caption" src="../static/novgorod/park.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-12 col-md-6">
          <img class="img-responsive pull-left
          img-circle caption" src="../static/novgorod/bank.jpg">
        </div>
        <div class="col-xs-12 col-md-6">
          <h4>В 1991 году город был открыт для посещения иностранцами. По состоянию на 2006 год у
            Нижнего Новгорода было девять городов-побратимов. В 2009 году соглашения были заключены с
            11 городами-побратимами и 3 городами-партнёрами.Создана ассоциация почётных консулов пяти
            стран: Италии, Чехии, Австрии, КНДР и Киргизии. По состоянию на декабрь 2014 года в Нижнем
            Новгороде располагаются почётные консульства 7 стран, включая представительство частично
            признанного государства Абхазия, а также одно отделение посольства.В 2009 году уровень рождаемости
            повысился, а смертности — снизился. Естественная убыль населения составила 5.0 промилле(в 2008 — 6.2,
            в 2005 — 8.7 промилле). По расчётам программы ООН по населённым пунктам, к 2020 году город
            потеряет до 11,8 % своего населения в сравнении с 1990 годом. Обширная Нижегородская
            агломерация насчитывает 2020 тыс. чел. (5-е место в России), что составляет 60 %
            населения Нижегородской области.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
