<p>Улья́новск — город в европейской части России, административный центр Ульяновской области. Является
городом областного значения, образует одноимённое муниципальное образование город Ульяновск со статусом
городского округа. Расположен на Приволжской возвышенности, на берегах рек Волги
(Куйбышевское водохранилище) и Свияги, в месте сближения их русел. Основан по указу царя Алексея
Михайловича окольничим Богданом Хитрово в 1648 году как крепость Синбирск с целью защиты восточных
границ Русского царства от набега кочевых племён. В ходе административной реформы Екатерины II в 1780
году стал главным городом Симбирского наместничества (губернии), в 1796 году Павел I своим указом
подтвердил статус Симбирской губернии.В XIX веке — крупнейший за пределами Петербурга и Москвы центр
русской интеллигенции. Современное название носит с 1924 года. Это имя город получил в честь
Владимира Ильича Ленина (Ульянова), являющегося уроженцем Симбирска.</p>
<br><br>
<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-12 col-md-6">
          <img class="img-responsive pull-left
          img-circle caption" src="../static/ulyanovsk/map.jpg">
        </div>
        <div class="col-xs-12 col-md-6">
          <h4>Географические координаты Ульяновска: 54°19,00' северной широты и 48°23,00' восточной
          долготы. На этой же широте находятся города: Саранск, Рязань, Калуга (Россия), Гданьск (Польша),
          Киль (Германия), Белфаст (Великобритания), Эдмонтон (Канада). Ульяновск расположен на холмистой
          равнине на высоте 80-160 метров над уровнем моря. Перепады высот в черте города составляют до 60
          метров. Причём в правобережной части (центре) Ульяновска лёгкие спуски и подъёмы встречаются чаще,
          чем в левобережной (Заволжский район). Протяжённость города в меридианном направлении — 20 км,
          в широтном — 30 км. Площадь — 622,46 км². Ульяновск — крупный транспортный пункт, лежащий между
          центральной Россией и Уралом. Соседние региональные центры находятся в 3—5 часах езды на автомобиле.
          Город расположен в лесостепной полосе. В центральной части города существует подземная река Симбирка,
          впадающая в Свиягу.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row description">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-12 col-md-6">
          <h4>Основа экономики города — это предприятия машиностроения и металлообработки, развиты также
          электроэнергетика, розничная торговля и капитальное строительство. Затем следуют банковская сфера,
          сфера услуг, туризм, пищевая и лёгкая промышленности. Объем отгруженных товаров собственного
          производства, выполнено работ и услуг собственными силами обрабатывающие производства за 2010
          год — 65,54 млрд рублей.В отрасли промышленного производства города наибольшие объёмы отгруженной
          продукции имеют:<ul>
            <li>производство готовых металлических изделий, машин и электрооборудования, транспортных
            средств — 69,5 %</li>
            <li>производство пищевых продуктов, включая напитки — 18,7 %</li>
            <li>производство строительных материалов — 2,5 %</li></ul></h4>
        </div>
        <div class="col-xs-12 col-md-6">
          <img class="img-responsive pull-right
          img-circle caption" src="../static/ulyanovsk/car.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-12 col-md-6">
          <img class="img-responsive pull-left
          img-circle caption" src="../static/ulyanovsk/bridge.jpg">
        </div>
        <div class="col-xs-12 col-md-6">
          <h4>Ульяновск — важный узел Куйбышевской железной дороги, имеет один главный
          (Ульяновск-Центральный) и 3 второстепенных вокзала. Рядом с городом расположены два международных
          аэропорта — Ульяновск-Центральный и аэропорт Ульяновск-Восточный. На правом берегу Волги в
          Железнодорожном районе находится Ульяновский речной порт.Два берега Волги связаны между собой
          двумя мостами. Старый железнодорожный мост официально открыт 5 октября 1916 г, названный в начале
          строительства Императорским Его величества Николая II, в 1917 г. он был переименован в мост
          Свободы. В связи с образованием Куйбышевского водохранилища в 1953—1958 гг. опоры моста были
          расширены и наращены, открыто автомобильное движение. Вся реконструкция моста производилась без
          прекращения движения поездов.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
