---
layout: default
---
<head>
  {% include head.html %}
  <title>{{ page.title}}</title>
</head>
<body>
  {% include navbar.html %}
  <div class="back" id="navfor">
    <div class="container-fluid">
      <br><br>
      <h1 style="padding-top:150px;">{{ page.title}}</h1>
    </div>
  </div>
  <p class="meta">{{ page.date | date_to_string }}</p>
  <div class="post">
    <h4>{{ content }}</h4>
  </div>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/script.js"></script>
</body>
